<h1>clientes</h1>

<u1> 
    <li><a href="/clientes/add">nueva tarea</a></li>
</u1>

<div class="row">
    {{#each Lcliente}}
    <div class="cold-md3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                {{nombre}} <a href="/clientes/edit/{{_id}}"><i> *edit</i></a>
                </h4>
                <p>{{direccion}}</p>
                <p>{{tarea}}</p>
                <p>{{producto}}</p>
                <form action="/clientes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn-danger btn-block btn-sm" >
                    borrar
                </button>
                </form>
            </div>
    </div>
    </div>
    {{/each}}
</div>
